{% extends "base.html" %}
{% block title %}Search Matches - Secure DNA{% endblock %}

{% block content %}

<h1>Search STR Matches (1:N)</h1>

<div class="top-actions">
    <a class="btn" href="{% url 'sample_list' %}">← Back to Samples</a>
</div>

{% if messages %}
  <div class="card">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

<div class="card">
    <h3>Select query sample</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
</div>

{% if search_done %}
    <div class="card">
        <h3>Results for {{ query_sample.sample_id }} ({{ query_sample.case.case_id }})</h3>

        {% if match_results %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Sample ID</th>
                        <th>Case ID</th>
                        <th>Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in match_results %}
                <tr>
                    <td class="center">{{ forloop.counter }}</td>

                    <td>{{ item.profile.sample.sample_id }}</td>
                    <td>{{ item.profile.sample.case.case_id }}</td>

                    <td class="center">
                        {% if item.score >= 0.8 %}
                            <span class="score-high">{{ item.score|floatformat:2 }}</span>
                        {% elif item.score >= 0.4 %}
                            <span class="score-mid">{{ item.score|floatformat:2 }}</span>
                        {% else %}
                            <span class="score-low">{{ item.score|floatformat:2 }}</span>
                        {% endif %}
                    </td>

                    <td class="center">
                        <a class="btn small-btn"
                        href="{% url 'generate_report' query_sample.id item.profile.sample.id %}">
                            Generate Report
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No other STR profiles found to compare.</p>
        {% endif %}
    </div>
{% endif %}

{% endblock %}
